[location]

latitude: 38d40m21.9s
#[units: degrees] Format: -00d00m00.0s

longitude: 66.8964d
#[units: degrees] Format: -00.0000d

elevation: 2593.
#[units: m]

[weather]
# url of the weather report
url: http://www.ls.eso.org/lasilla/dimm/meteo.last

# Pointing limit due to high wind [m/s]
windWarnLevel: 15
# Closing limit due to high wind [m/s]
windLimitLevel: 20
# Humidity warning level [%]
humidityWarnLevel: 80
# Closing limit due to humidity [%]
humidityLimitLevel: 90
